@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


body {
    margin: 0px;
    padding: 0px;
    background-color: #f7f7f7;
    scroll-behavior: smooth;
}

.atoz {
    color: blueviolet;
    text-align: center;
    justify-content: center;
    font-size: 100px;
    margin: 50px auto;
}

input:hover{
background-color: red;
}



.box {
    background-color: #fff;
    color: black;
    text-align: center;
    justify-content: center;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    max-width: 500px;
    height: 300px;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.as {
    display: inline;
    font-size: 80px;
    margin-right: 20px;
    font-family: 'Poppins', sans-serif;
}

h2,h1 {
    color: transparent;
    background: linear-gradient(yellow,red);
    background-clip: text;
}

.a {
    display: inline;
}

div img {
    display: inline;
    height: 200px;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}

.alphabates a {
    padding: 10px;
    text-decoration: none;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

div p {
    margin-right: 20px;
}





.action {
    margin: 200px;
}

.alpha {
    text-align: center;
    line-height: 50px;
}


.alpha A {
    text-decoration: none;
    width: 100%;
    margin-bottom: 60px;
    margin: 0 auto;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    color: blueviolet;
}

footer{
    margin-top: 50px;
    height: 50px;
    width: 100%;
    font-size: 18px;
    line-height: 50px;
    background:gray;
    text-align: center;
    color: white;
}

.btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 20px;
}

.btn a{
    color: white;
    text-decoration: none;
}