* {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h2,h1 {
    color: transparent;
    background: linear-gradient(yellow,red);
    background-clip: text;
}

a{
    color: black;
}
