@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

nav {
  width: calc(100vw - 17px);
  height: 92px;
  background: #000;
}

.nav-inner,
.nav-items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items-wrapper {
  gap: 40px;
}

.nav-items-wrapper li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
  padding: 10px;
}

.logo img {
  width: 200px;
}

.bordered {
  border: 1px solid white;
  border-radius: 20px;
  font-size: 14px !important;
  padding: 12px !important;
}

.btn {
  background-color: red;
  border-radius: 20px;
  font-size: 14px !important;
  padding: 12px !important;
}

main img {
  width: calc(100vw - 17px);
  height: calc(100vh - 96px);
}
