@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.wrapper {
  width: 1200px;
  margin: auto;
}

nav {
  width: 100vw;
  height: 92px;
  background: #000;
}

.nav-inner,
.nav-items-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items-wrapper {
  gap: 40px;
}

.nav-items-wrapper li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}

.logo img {
  width: 200px;
}

.bordered{
    border: 1px solid white;
}
