@font-face {
  font-family: "Digital7";
  src: url("/pages/digital-clock/fonts/digital-7.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.clock{
  font-family: "Digital7";
}
